<?xml version="1.0"?>
<model>
  <name>RoboMaster Arena 3v3</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Leonardo</name>
    <email>leonardo@vivobook.com</email>
  </author>

  <description>
    Arena RoboMaster 3v3 suddivisa in zone modulari per la simulazione.
  </description>
</model>