<?xml version="1.0"?>
<model>
  <name>pic4ser_environment</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Corrado De Vita</name>
    <email>dummy@fake.com</email>
  </author>

  <description>
    Ambiente personalizzato con tavoli e muri per pic4ser.
  </description>
</model>
